.container {
  display: flex;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  max-width: 600px;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  margin-top: 5rem;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 16px;
}

.inputContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 8px rgba(0, 188, 212, 0.8);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 123, 255, 0.4);
}

.button:disabled {
  background: #555;
  cursor: not-allowed;
  box-shadow: none;
}

.button:hover {
  background-color: #0056b3
}

.resultContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resultBox {
  background-color: #333;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.resultBox h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #00bcd4;
}

.resultBox pre {
  background-color: #222;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #FFF;
}
